-var title="Programación orientada a objetos"
doctype html 
html 
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="styleSheet" href="css/style.css")
    body 
        header 
            h1= title
        main 
            div.form
                input(type="text" id="box1")
            .numbers
                button#one 1
                button#two 2
                button#three 3
                button#four 4
                button#five 5
                button#six 6
                button#seven 7
                button#eight 8
                button#nine 9
                button#zero 0
                button#plus +
                button#rest -
                button#product *
                button#divide /
                button#operator =
                button#clean C
    script(src="js/numeros.js") 